.p-drawer-bottom .p-drawer-content {
  border-radius: 24px 24px 0 0;
  padding: 2rem;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1.5rem !important;
}

::ng-deep .p-dialog .p-dialog-content {
  border-radius: 1.5rem;
  padding: 2rem;
}

::ng-deep .p-drawer .p-drawer-content {
  border-radius: 2rem 2rem 0 0;
  padding: 2rem;
}
