@import '../../../shared/styles/datatable.scss';

:host ::ng-deep .p-treetable table {
  table-layout: auto;
}

:host ::ng-deep .p-treetable td,
:host ::ng-deep .p-treetable th {
  white-space: normal !important;
  word-break: break-word;
}

.col-serial {
  min-width: 60px;
  text-align: center;
}

.col-menu {
  min-width: 320px;
}

.col-right {
  min-width: 90px;
  text-align: center;
}

.p-checkbox {
  transform: scale(0.95);
}

.p-treetable .p-column-resizer {
  background: var(--primary-color);
  width: 3px;
}
