.berry-wrapper {
  position: relative;
  min-height: 100vh;
  background: #f4f6f8;
  font-family: 'Public Sans', sans-serif;
  height: 100vh;   
  overflow: hidden;
}

.main-area {
  margin-left: 280px;
  transition: margin-left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.main-area.mini {
  margin-left: 72px;
}

.main-content {
  background: #eef2f6;
  /* min-height: 100vh; */
  min-height: 650px !important;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  z-index: 1;
  height: 100vh;                 
  overflow: hidden;              
  display: flex;                 
}

.main-content.mini {
  border-top-left-radius: 0;
}
.main-area.blurred {
  filter: blur(4px);
  pointer-events: none;
  transition: filter 0.3s ease;
}

.content-inner {
  padding: 32px;
  /* padding-top: 100px;  */
  height:100%;
  /* min-height: calc(100vh - 70px); */
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;                      
  overflow-y: auto;             
  overflow-x: hidden;
  /* padding-right: 8px;   */
  scrollbar-width: thin;
  scrollbar-color: #c4b5fd #eef2f6;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #c4b5fd;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #7c4dff;
  }         
}
.router-outlet {
  flex: 1;
  background-color: transparent;
}
@media (max-width: 900px) {
  .main-area, .main-area.mini {
    margin-left: 0 !important;
  }
  .main-content { border-radius: 0 !important; }
  .content-inner { padding: 20px; padding-top: 90px; }

  .sidebar.open ~ .main-area .main-content {
    filter: blur(1px);
  }
}