.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
  backdrop-filter: blur(3px);
}

.spinner-container {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #ff3d00,
    #ff9100,
    #ffc400,
    #00e676,
    #00b0ff,
    #651fff,
    #d500f9,
    #ff3d00
  );
  animation: spin 1.2s linear infinite;
}

.spinner-ring::before {
  content: '';
  position: absolute;
  inset: 8px; /* inner gap */
  background: white;
  border-radius: 50%;
}

.loader-center-icon {
  width: 189px;
  height: 117px;
  z-index: 2;
  object-fit: contain;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
