

$colortheme_default : linear-gradient(45deg, #99E5FF, #CCFF99);
$colortheme_textdefault: #333333;
$colortheme_blue_default: #33CCFF;
$colortheme_green_default: #99FF33;
$colortheme_skylight_default: #EEEDEF;
$colortheme_whitedefault: #fff;
$colortheme_nextprevbutton: #cbd6e7;
$colortheme-bordertextbox: #dcdde0;
$colortheme-darkgrey:#666666;
$colortheme-lighttab: #EEEDEF;
$colortheme-menusidetoggle: linear-gradient(180deg, #33CCFF, #99FF33);
$colortheme-darkblue: #33CCFF;
$colortheme_tooltipred: #FF3101;
$colortheme_switchbutton: #f37064;
$colottheme-switchbuttonactive: #79df94;
$colortheme-lightblue: #CCF2FF;
