<div class="header-content">
  <div class="left-group">
    <div class="logo-area">
      <img src="assets/images/product/To the Source.png" alt="To The Source" class="logo-img">
    </div>
    <button class="menu-btn" (click)="toggleSidebar.emit()">
      <i class="pi pi-bars"></i>
    </button>
  </div>

  <div class="search-wrapper">
    <i class="pi pi-search"></i>
    <input type="text" placeholder="Search anything..." />
  </div>

  <div class="right-group">
    <button class="icon-btn">
      <i class="pi pi-bell"></i>
      <span class="badge">3</span>
    </button>
    <!-- <button class="icon-btn">
      <i class="pi pi-cog"></i>
    </button> -->
    <img src="../../../../assets/images/bhavesh.jpg" class="avatar" alt="User" />
  </div>
</div>