@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;  
  width: 100%;
  height: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});

    
  }

  

  .logo { 
    border-left: unset !important;
    img{
    max-width: 45px;
  }
}

a.logo_clientlogo img {
  max-width: 110px;
}

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
    padding: 0 0 0 15px;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  ::ng-deep .user-action {
    &.select-module {
      width: 110px;
      .info-container {
        margin-right: 0.5rem;
      }
    }
  }
  ::ng-deep .product-notificationnumber-div {
    border: none;
    position: absolute;
    right: 90px;
    top: 6px;
    background: #ff0000;
    z-index: 2;
    padding: 1px 4px !important;
    border-radius: 50px;
    color: #fff;
    font-size: 11px;
  }
  ::ng-deep .product-notification {
    padding: 0 15px 0 15px !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;
    padding: 0 15px;

    // &:first-child{
    //   padding-left: 15px;
    //   padding-right: 10px;
      
    //   width: 16rem;
    //   background: #fff;
    //   margin-left: unset;
    // }
    
    .clientlogo-div {
      width: 230px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 0;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }

    .amnexproduct-datetimenow {
      padding: 2px 10px;
      border-radius: 10px;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}

.searchinput {
  border-radius: 6px !important;
  &:focus, &:hover {
    border-radius: 6px !important;
  }
}