<div class="header-content">
  <div class="left-group">
    <div class="logo-area">
      <img src="assets/images/product/To the Source.png" alt="To The Source" class="logo-img">
    </div>
    <button pButton class="menu-btn p-button-text" (click)="toggleSidebar.emit()">
      <i class="pi pi-bars"></i>
    </button>
  </div>
  <div class="search-wrapper">
    <i class="pi pi-search"></i>
    <input pInputText type="text" placeholder="Search anything..." />
  </div>
  <div class="right-group">
    <button pButton class="icon-btn p-button-text">
      <i class="pi pi-bell"></i>
      <span class="badge">3</span>
    </button>

    <div class="profile-wrapper" *ngIf="user">
      <img 
        [src]="user.ProfileImage || 'assets/images/default-avatar.png'" 
        class="avatar" 
        alt="{{ user.FullName }}"
        (click)="toggleProfileDropdown()"
      />
      <div class="profile-dropdown" *ngIf="showProfileDropdown" id="profileMenu">
        <div class="profile-header">
          <img [src]="user.ProfileImage" class="avatar-small" />
          <div class="profile-info row">
            <span class="name col-md-12">{{ user.FullName }}</span>
            <span class="role col-md-12">{{ user.RoleName }}</span>
          </div>
        </div>

        <ul class="menu-list">
          <li *ngFor="let item of user.ProfileMenuList" class="menu-item">
            <i *ngIf="item['icon']" [ngClass]="getIconClass(item['icon'])" class="menu-icon"></i>

            <div class="menu-text">
              <span class="menu-label">{{ item['label'] }}</span>
              <small *ngIf="item['value']" class="menu-value">{{ item['value'] }}</small>
            </div>
             <p-toggleButton 
              *ngIf="item['toggle']"
              [onLabel]="'Dark'" 
              [offLabel]="'Light'"
              [onIcon]="'pi pi-moon'" 
              [offIcon]="'pi pi-sun'"
              [(ngModel)]="isDarkMode"
              (onChange)="toggleDarkMode()"
              styleClass="p-button-text p-button-sm">
            </p-toggleButton>
            <button 
              *ngIf="!item['toggle']" 
              class="menu-click" 
              (click)="onMenuAction(item['action'])">
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
