.toast-animate {
  animation: toastEnter 0.5s ease-out, toastExit 0.5s ease-in 4.5s forwards;
  position: relative;  
  overflow: hidden;
}

.toast-animate .toast-progress {
  height: 5px;          
  background-color: #d8d8d8;  
  border-radius: 2px;        
  bottom: 0;                 
}

@keyframes toastEnter {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes toastExit {
  from { opacity: 1; transform: translateY(0); }
  to   { opacity: 0; transform: translateY(10px); }
}
